/*All Page elements style*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    outline: none;
}
/* Page Body  style*/
body{
    width:100%;
    height: auto;
}
/*Food Menu div style for whole menu*/
.foodmenu{
    height:100%;
    width:100%;
    padding-left: 50px;
    padding-right: 50px;
}
/*Banner div style for food menu*/
.foodmenubanner{
    width:100%;
    height:300px;
    position:relative;
    margin-top: 4rem;
    padding:1rem;
    border-radius: 30px;
    cursor: pointer;
}
/*Banner image style for food menu*/
.foodmenubanner >img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 30px;
}
/*Banner font style for food menu*/
.promo{
    text-align: center;
    top:25%;
    left:30%;
    position: absolute;
    color:goldenrod;
}
/*Style for search menu text box*/
.searchMenu{
    padding:  0.2rem 1rem;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 500px;
    border-radius: 5px;
}
/*Style for  menu header*/
.menuheader{
    display:flex;
    gap:10px;
    padding:  0.3rem 1rem;
    overflow-x: auto;
}
/*Style for  menu header links*/
.menuheader>a{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size:1.5rem;
    color:goldenrod;
    background-color:red;
}
/*Style for menu header links hover*/
.menuheader>a:hover{
    color: black;
    background-color:lightgrey;
}
/*Style for food category heading */
.foodcatheading{
    text-align: center;
    font-weight: 700;
    color: goldenrod;
    padding:1rem 1rem 1rem 1rem;
    font-style: italic;
}
/*Style for food content*/
.menu-content{
    display: grid;
    grid-template-columns:repeat(auto-fit ,minmax(250px,0.6fr));
    gap:20px;
    padding:0.5rem 1rem 1rem 1rem ;
}
/*Style for each food item */
.menu-card{
    background-color:black;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
}
/*Style for each food item hover*/
.menu-card:hover{
    box-shadow:rgba(0,0,0,0.35) 0px 5px 15px ;
}
/*Style for each food item image*/
.card-image{
    width:100%;
    height:150px;
    object-fit: cover;
    border-radius: 15px;
}
/*Style for each food item description*/
.card-detail{
    padding: 10px;
    color: goldenrod;
}
/*Style for each food item price*/
.card-detail>h4>span{
    float: right;
}
/*Style for each food item heading*/
.card-detail>h4{
    color: goldenrod;
    font: weight 10px;
    font-style: italic;
}
/*Style for Add to cart button*/
.cartbtn{
    border-radius: 12px;
    border:none;
    font-size: 1.5rem;
    margin: top 20px;
    color: goldenrod;
    background-color: red;
    padding:3px;
    padding-right: 25px;
}
/*Screen responsive*/
@media screen and (max-width: 680px){
    .foodmenu{
        padding-right: 0;
    }
}